<!DOCTYPE html>
<html>
<head>
<title>vnanime &middot; Cbox</title>
<meta charset="utf-8">
<meta content='width=device-width, user-scalable=no, initial-scale=1' name='viewport'>
<meta name="mobile-web-app-capable" content="yes">
<!--<link href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon">-->
<!--<link rel="icon"  type="image/png" href="/smile192.png">-->
<link rel="manifest" href="?manifest=1">
<link rel="stylesheet" href="/my.css?1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script>
  $( function() {
    $("#popup-outline").draggable({appendTo: 'body',
    containment: 'window',
    scroll: false});
    $("#popup-resize").resizable({
      animate: true
    });
  } );
  </script>
  <style>*{outline:0;}#popup-outline{box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.ui-resizable-helper{border:1px dotted gray}
  </style>
<script>

window['chanID'] = "vnanime";
window['isEnh'] = true;
window['sslMode'] = false;

var wl = window.location;
if (window['sslMode'] && wl.protocol !== "https:") {
  wl.href = "https://"+wl.hostname+wl.pathname;
}
  
</script>
</head>
<body>

<!-- <div id="header">
  <div class="wrap">
    <h1>vnanime</h1>
    
    <div class="btn Hidden" id="pushBtn" title="Push notifications enable/disable"></div>
    <div class="btn Hidden" id="btnBreakout" title="Open in a new window"></div>
    
      </div>
</div> -->
<div id="notice">
  <div class="wrap" id="noticeBody">

  </div>
</div>
<div id="popup-outline" style="display: none;border-radius: 15px 15px 0 0; position: absolute;top: 0px;z-index: 100;">
    <div class="modal-header" style="padding: 5px 5px 0 0">
      <button type="button" class="close" onclick="closePopup()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
      <button type="button" class="close" onclick="resizePopup()" data-dismiss="modal"><span class="glyphicon glyphicon-unchecked"></span></button>
      <div id="dl-content" class="form-group form-inline" style="margin:0 0 0 10px;display:none">
        <a href="" id="dl-btn" download><span class="glyphicon glyphicon-download-alt"></span></a>
        <select class="form-control input-sm" id="dl" style="width:140px">
        </select>
      </div>
    </div>
    <div id="popup-resize" class="modal-content" style="padding:0;min-width:300px;min-height:150px;height:150px">
    </div>
  </div>
<div id="main">
  <div class="wrap">
    <div id="fscont">
    <div style="font-size: 0px; position: absolute; left: 0; right: 0; height: 129px; overflow: hidden; top: 0;"><iframe allowtransparency="yes" frameborder="0" width="100%" height="100%" src="//www3.cbox.ws/box/?boxid=3161826&boxtag=jxs7kd&sec=form" marginheight="0" marginwidth="0" scrolling="no" name="cboxform"></iframe></div>    <div style="font-size: 0px; position: absolute; left: 0; right: 0; top: 129px; bottom: 0px; overflow: auto; overflow-y: auto; -webkit-overflow-scrolling:touch;"><iframe allowtransparency="yes" frameborder="0" width="100%" height="100%" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;" src="//www3.cbox.ws/box/?boxid=3161826&boxtag=jxs7kd&sec=main" marginheight="0" marginwidth="0" scrolling="auto" name="cboxmain"></iframe></div>    </div>
  </div>
</div>

<div id="footer">

</div>

<script src="/my.js?1"></script>
<script type="text/javascript">
  window.addEventListener("message", function(event) {
    var dt = event.data;
    if(dt.match(/.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/i)){
      popup(dt);
    }
  });
  $("a").contextmenu(function() {
    return popup(this.href);
  });
  function popup(link) {
    var res = link.match(/.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/i);
    if(res){
      $("#popup-resize").append('<iframe id="ytif" width="560" height="315" src="https://www.youtube.com/embed/'+res[1]+'?rel=0&autoplay=1" frameborder="0" style="position: relative; height: 100%; width: 100%;min-width:300px;min-height:150px" allowfullscreen></iframe>');
      var pop = document.getElementById("popup-outline");
      pop.style.display = "inline-block";
      $.ajax({
        url: "http://www.youtube.com/get_video_info?video_id="+res[1],
        dataType: 'text'
      }).done(function(res) {
        var data = parseStr(res);
        var streams = data['url_encoded_fmt_stream_map'].split(",");
        for (var idx = 0; idx < streams.length; idx++){
          var realStream = parseStr(streams[idx]);
          var stype = realStream['type'];
          if(stype.indexOf(';') > -1) {
            var tmp = stype.split(";");
            stype = tmp[0];
          }
          if(typeof realStream['sig'] == "undefined") {
            var sl = document.getElementById("dl");
            var option = document.createElement("option");
            option.text = realStream['quality'] + '  ' + stype;
            option.value = realStream['url'];
            sl.add(option);
          } else {
            var sl = document.getElementById("dl");
            var option = document.createElement("option");
            option.text = realStream['quality'] + '  ' + stype;
            option.value = realStream['url'] + "&signature=" + realStream['sig'];
            sl.add(option);
          }
        }
        var elem = document.getElementById("dl");
        selectedNode = elem.options[elem.selectedIndex];
        $('#dl-btn').attr("href", selectedNode.value);
        document.getElementById("dl-content").style.display = "inline-block";
      });
      return false;
    }
    return true;
  }
  $( "#dl" ).change(function() {
    var elem = document.getElementById("dl");
    selectedNode = elem.options[elem.selectedIndex];
    $('#dl-btn').attr("href", selectedNode.value);
  });
  function resizePopup() {
    var pop = document.getElementById("popup-resize");
    var ifr = document.getElementById("ytif");
    pop.style.width = "300px";
    pop.style.height = "150px";
  }
  function closePopup() {
    document.getElementById("popup-outline").style.display = "none";
    document.getElementById("dl-content").style.display = "none";
    $("#ytif").remove();
    document.getElementById('dl').options.length = 0;
    $('#dl-btn').attr("href", "#");
  }
  function parseStr(str) {
    var result = {};
    str.split("&").forEach(function(part) {
      var item = part.split("=");
      result[item[0]] = decodeURIComponent(item[1]);
    });
    return result;
  }
  </script>


</body>
</html>


/////////////////////

<!--[if IE]>  
<style>
.mnbdy{background:url(https://dl.dropboxusercontent.com/u/43936270/Image/error.jpg) no-repeat center center #FFF}
.hbtbl{display:none}
</style>
<![endif]-->
<link href='https://dl.dropboxusercontent.com/u/43936270/Blogger/cboxfont.css' rel='stylesheet' type='text/css'/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
document.addEventListener('contextmenu', function(e) {
if(e.target.tagName == 'A'){parent.postMessage(e.target.href,"*");return false}e.preventDefault();}, false);
</script >


/////////////////

<html><head>
<title>vnanime · Cbox</title>
<meta charset="utf-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1" name="viewport">
<meta name="mobile-web-app-capable" content="yes">
<!--<link href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon">-->
<!--<link rel="icon"  type="image/png" href="/smile192.png">-->
<link rel="manifest" href="?manifest=1">
<link rel="stylesheet" href="/my.css?1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script>
  $( function() {
    $("#popup-outline").draggable({appendTo: 'body',
    containment: 'window',
    scroll: false});
    $("#popup-resize").resizable({
      animate: true
    });
  } );
  </script>
  <style>*{outline:0;}#popup-outline{box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.ui-resizable-helper{border:1px dotted gray}
  </style>
<script>

window['chanID'] = "vnanime";
window['isEnh'] = true;
window['sslMode'] = false;

var wl = window.location;
if (window['sslMode'] && wl.protocol !== "https:") {
  wl.href = "https://"+wl.hostname+wl.pathname;
}
  
</script>
</head>
<body>

<!-- <div id="header">
  <div class="wrap">
    <h1>vnanime</h1>
    
    <div class="btn Hidden" id="pushBtn" title="Push notifications enable/disable"></div>
    <div class="btn Hidden" id="btnBreakout" title="Open in a new window"></div>
    
      </div>
</div> -->
<div id="notice">
  <div class="wrap" id="noticeBody">

  </div>
</div>
<div id="popup-outline" style="display: none;border-radius: 15px 15px 0 0; position: absolute;top: 0px;z-index: 100;" class="ui-draggable ui-draggable-handle">
    <div class="modal-header" style="padding: 5px 5px 0 0">
      <button type="button" class="close" onclick="closePopup()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
      <button type="button" class="close" onclick="resizePopup()" data-dismiss="modal"><span class="glyphicon glyphicon-unchecked"></span></button>
      <div id="dl-content" class="form-group form-inline" style="margin:0 0 0 10px;display:none">
        <a href="" id="dl-btn" download=""><span class="glyphicon glyphicon-download-alt"></span></a>
        <select class="form-control input-sm" id="dl" style="width:140px">
        </select>
      </div>
    </div>
    <div id="popup-resize" class="modal-content ui-resizable" style="padding:0;min-width:300px;min-height:150px;height:150px">
    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div></div>
  </div>
<div id="main">
  <div class="wrap">
    <div id="fscont">
    <div style="font-size: 0px; position: absolute; left: 0; right: 0; height: 129px; overflow: hidden; top: 0;"><iframe allowtransparency="yes" frameborder="0" width="100%" height="100%" src="//www3.cbox.ws/box/?boxid=3161826&amp;boxtag=jxs7kd&amp;sec=form" marginheight="0" marginwidth="0" scrolling="no" name="cboxform"></iframe></div>    <div style="font-size: 0px; position: absolute; left: 0; right: 0; top: 129px; bottom: 0px; overflow: auto; overflow-y: auto; -webkit-overflow-scrolling:touch;"><iframe allowtransparency="yes" frameborder="0" width="100%" height="100%" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;" src="//www3.cbox.ws/box/?boxid=3161826&amp;boxtag=jxs7kd&amp;sec=main" marginheight="0" marginwidth="0" scrolling="auto" name="cboxmain"></iframe></div>    </div>
  </div>
</div>

<div id="footer">

</div>

<script src="/my.js?1"></script>
<script type="text/javascript">
  window.addEventListener("message", function(event) {
    var dt = event.data;
    if(dt.match(/.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/i)){
      popup(dt);
    }
  });
  $("a").contextmenu(function() {
    return popup(this.href);
  });
  function popup(link) {
    var res = link.match(/.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/i);
    if(res){
      $("#popup-resize").append('<iframe id="ytif" width="560" height="315" src="https://www.youtube.com/embed/'+res[1]+'?rel=0&autoplay=1" frameborder="0" style="position: relative; height: 100%; width: 100%;min-width:300px;min-height:150px" allowfullscreen></iframe>');
      var pop = document.getElementById("popup-outline");
      pop.style.display = "inline-block";
      $.ajax({
        url: "http://www.youtube.com/get_video_info?video_id="+res[1],
        dataType: 'text'
      }).done(function(res) {
        var data = parseStr(res);
        var streams = data['url_encoded_fmt_stream_map'].split(",");
        for (var idx = 0; idx < streams.length; idx++){
          var realStream = parseStr(streams[idx]);
          var stype = realStream['type'];
          if(stype.indexOf(';') > -1) {
            var tmp = stype.split(";");
            stype = tmp[0];
          }
          if(typeof realStream['sig'] == "undefined") {
            var sl = document.getElementById("dl");
            var option = document.createElement("option");
            option.text = realStream['quality'] + '  ' + stype;
            option.value = realStream['url'];
            sl.add(option);
          } else {
            var sl = document.getElementById("dl");
            var option = document.createElement("option");
            option.text = realStream['quality'] + '  ' + stype;
            option.value = realStream['url'] + "&signature=" + realStream['sig'];
            sl.add(option);
          }
        }
        var elem = document.getElementById("dl");
        selectedNode = elem.options[elem.selectedIndex];
        $('#dl-btn').attr("href", selectedNode.value);
        document.getElementById("dl-content").style.display = "inline-block";
      });
      return false;
    }
    return true;
  }
  $( "#dl" ).change(function() {
    var elem = document.getElementById("dl");
    selectedNode = elem.options[elem.selectedIndex];
    $('#dl-btn').attr("href", selectedNode.value);
  });
  function resizePopup() {
    var pop = document.getElementById("popup-resize");
    var ifr = document.getElementById("ytif");
    pop.style.width = "300px";
    pop.style.height = "150px";
  }
  function closePopup() {
    document.getElementById("popup-outline").style.display = "none";
    document.getElementById("dl-content").style.display = "none";
    $("#ytif").remove();
    document.getElementById('dl').options.length = 0;
    $('#dl-btn').attr("href", "#");
  }
  function parseStr(str) {
    var result = {};
    str.split("&").forEach(function(part) {
      var item = part.split("=");
      result[item[0]] = decodeURIComponent(item[1]);
    });
    return result;
  }
  </script>




<div style="text-align: center;"><div style="position:relative; top:0; margin-right:auto;margin-left:auto; z-index:99999">

</div></div>
</body></html>

//////////////////////
